/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

/* NAVBAR */

.navbar {
  background: none;
  display: flex;
  position: fixed;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
}

.nav-link {
  color: rgb(57, 57, 57);
  font-size: 18px;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  margin: 10px 20px;
  text-decoration: none;
  transition: .2s;
}

.space-between {
  width: 90%;
}


.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  color: #1b1b1b;
  text-decoration: none;
  border-bottom: 4px solid black;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.tile-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  width: 300px;
}

html {
  background: #fff;
}

body {
  font-family: 'Open-sans', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #000;
}

.page-title {
  font-family: 'Open-sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin: 20px;
  padding-top: 60px;
}

.input-field {
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 5px;
  outline: 0;
  width: 300px;
  font-size: 16px;
}

.btn-submit, .btn-claim {
  background-color: #fff;
  border-radius: 5px;
  color: rgb(57, 57, 57);
  font-size: 18px;
  font-weight: 300;
  margin: 5px;
  padding: 8px;
}

.btn-claim {
  width: 80%
}

.btn-submit:hover {
  border: 1px solid #0b0b0b;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 2, .2);
  transition: .5s;
}

.header-slide.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-bottom: 50% !important;
}






.loading {
  display: inline-block;
  margin: 5em;
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  }

.style-1 {
  border-style: solid;
  border-color: #444 transparent;
  }

.style-2 {
  border-style: double;
  border-color: #444 transparent;
  }

.style-3 {
  border-style: double;
  border-color: #444 #fff #fff;
  }

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
  }

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
  }

@keyframes spin {
  100% {  transform: rotate(359deg); }
  }
